.account__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account__form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  input {
    all: unset;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 999px;
    color: $bg-dark;
  }
  button {
    all: unset;
    text-align: center;
    background-color: $header-color;
    border: none;
    border-radius: 999px;
    height: 40px;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}
.account__otherwise_container {
  .account__otherwise_message {
    padding-right: 7px;
  }
  a {
    text-decoration: underline;
  }
}
